/* Điều chỉnh font-size cho danh sách công việc trên màn hình điện thoại */
@media only screen and (max-width: 600px) {
  .todolist {
    font-size: 14px;
  }
}

/* Điều chỉnh padding cho form-group trên màn hình máy tính bảng */
@media only screen and (max-width: 768px) {
  .form-group {
    padding: 10px;
  }
}

/* Điều chỉnh margin cho nút trên màn hình máy tính để bàn */
@media only screen and (min-width: 992px) {
  .btn {
    margin: 10px;
  }
}

/* Điều chỉnh font-size và màu sắc cho tiêu đề trên màn hình máy tính để bàn */
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 24px;
    color: #00ff00;
  }
}
/* ////////////////// */

/* CSS cho chế độ sáng */
.container,
.form-control,
.btn-primary,
.btn-info,
.btn-warning {
  background-color: #f8f9fa; /* màu nền */
  color: #212529; /* màu chữ */
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); /* thêm bóng cho phần tử */
  transition: all 0.5s ease; /* thêm animation */
}

.btn-primary,
.btn-info {
  border-color: #212529; /* màu viền */
}

/* CSS cho chế độ tối */
.bg-dark,
.todolist {
  background-color: #212529; /* màu nền */
  color: #00ff00; /* màu chữ */
  transition: all 01s ease; /* thêm animation */
}

.btn-secondary,
.btn-danger,
.btn-warning {
  background-color: #212529; /* màu nền */
  color: #f8f9fa; /* màu chữ */
  border-color: #f8f9fa; /* màu viền */
  box-shadow: 0 1px 4px rgba(248, 249, 250, 0.2); /* thêm bóng cho phần tử */
  transition: all 01s ease; /* thêm animation */
}

.btn-secondary:hover,
.btn-danger:hover,
.btn-warning:hover {
  background-color: #000000; /* màu nền khi hover */
  color: #f8f9fa; /* màu chữ */
}
